.baseTable {
  // padding: 0 8px;
  // overflow: hidden;
  .el-table {
    --el-table-header-bg-color: rgb(186, 232, 231);
  }
  .tableSearch {
    margin-bottom: 10px;
  }
  .tableOuter {
    margin-bottom: 10px;
    display: flex;
    .tableTitle {
      padding-right: 10px;
      flex-shrink: 0;
      line-height: 32px;
    }
    .outerBtnBox {
      margin-left: auto;
      .el-button {
        min-width: 100px;
      }
    }
  }

  .ml-table-empty {
    margin-top: 40px;
    font-size: 14px;
    color: #666;
    text-align: center;

    &-img {
      display: block;
      width: 160px;
      margin: 0 auto 10px;
    }
  }
}

// 因为优先级的问题。放在外层来
.tablePagination {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  // background: #d9d9d9;

  &.is-background {
    .btn-next,
    .btn-prev,
    .el-pager li {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      background: none;
      border: 1px solid #d9d9d9;

      &.active {
        border: 0;
      }
    }

    .el-pagination__jump,
    .el-pagination__total {
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      color: #666;
    }

    .el-input__inner {
      height: 32px;
      font-size: 12px;
      line-height: 32px;
      color: #666;
    }

    .el-pagination__sizes .el-input__inner {
      padding-left: 12px;
      text-align: left;
    }
  }
}

.tableSearch {
  display: flex;
  overflow: hidden;
  padding-top: 18px;
  background: #fafafa;
  .formBox {
    flex: 1;
  }
  .btnBox {
    flex-shrink: 0;
    margin: 0 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .more {
      height: 32px;
      margin-bottom: 18px;
      display: block;
      line-height: 32px;
      .el-icon {
        transform: rotate(90deg);
      }
      .fold {
        transform: rotate(-90deg);
      }
    }
    .btns {
      margin-bottom: 18px;
    }
  }

  &.hide {
    height: 100px;
  }
}
