// 因为权重覆盖了disable的样式。放到外面来

.ml-form {
  display: flex;
  flex-wrap: wrap;
  &.el-form--inline {
    .el-form-item {
      width: 25%;
      margin-right: 0;
    }
    .base-form-item-block {
      width: 100%;
    }
  }

  // 下面是各个组件的单独样式
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner,
  .el-tree,
  .el-select {
    width: 100%;
  }

  .el-color-picker__trigger {
    width: 80px;
  }
}
