/*大层*/
.container {
  width: 80%;
  margin: 0 auto;
}
/*瀑布流层*/
.waterfall {
  column-count: 4;
  column-gap: 1em;
}
/*一个内容层*/
.item {
  padding: 1em;
  margin: 0 0 1em 0;
  break-inside: avoid;
  border: 1px solid #000;
}
.item img {
  width: 100%;
  margin-bottom: 10px;
}
// .box {
//   display: flex;
//   flex-flow: column wrap;
//   height: 100vh;
// }
// .item {
//   margin: 10px;
//   width: calc(100% / 3 - 20px);
// }
// .item img {
//   width: 100%;
//   margin-bottom: 10px;
// }
